# #############################################
# Server
# ---------------------------------------------
Flask==2.1.2
# #############################################

# numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
# torch>=1.7.0
# torchvision>=0.8.1
tqdm>=4.41.0

gdown


torch==1.4.0
torchvision==0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
pytorch-ssim==0.1
numpy==1.16.4
scikit-image==0.15.0
tqdm==4.37.0
